body {
    background-image: url("/Nivell\ 3/imagen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: #05d9e8;
    border: 1px solid #ff2a6d;
    border-radius: 4px;
    padding: 10px;
    width: 50%;
    text-align: center;
    margin: 50px auto;
}

button {
    background: #01012b;
    font-family: 'Orbitron', sans-serif;
    border: 2px solid #d1f7ff;
    ;
    border-radius: 5px;
    padding: 6px 12px;
    color: white;
}

button:hoover {}

h4 {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #ff2a6d;
}